<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include("partials/head.ejs") %>

<body>
    <header>
       <div class="bg-[#27374D] flex justify-center">
            <div class="text-white py-5 text-2xl font-semibold">Logo</div>
       </div>
    </header>
    <div>
        <div class="flex justify-center">
            <div class="py-20 text-3xl font-medium opacity-60">Admin</div>
           
        </div>
        <div class="flex  justify-center">
            <div>
                <form action="/admin/login" method="post" id="adminloginform" class="">
                    <input type="text" name="username" required class="py-2 px-4 w-72 outline-none border-2 rounded-lg block text-sm" placeholder="Username" id="username">
                    <input type="password" name="password" required class="py-2 px-4 w-72 mt-3 outline-none border-2 rounded-lg block text-sm" placeholder="Password" id="Password">

                    <button type="submit" class="bg-[#27374D] text-white px-5 py-2 rounded-lg block text-center w-72 mt-7">Sign In</button>
                    <% if (errormessage && errormessage !== "") { %>
                        <span class="text-xs text-red-500 w-full flex justify-center mt-3"><%= errormessage %></span>
                      <% } %>
                    </form>
            </div>
        </div>
    </div>
    <footer class="bg-[#DDE6ED] mt-36">
        <div class="flex justify-around pt-10  mb-10">
            <div><a href="">About us</a></div>
            <div><a href="">Contact us</a></div>
            <div><a href="">Terms and conditions</a></div>
            <div><a href="">Privacy Policy</a></div>
        </div>
        <div class="flex justify-center pb-2">© XYZ Studios 2023. All Rights Reserved.</div>
    </footer>
    
    
<script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
</body>
</html>