<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include("partials/head.ejs") %>

<body class="box-border">


    <!--header-->
    <%- include("partials/header.ejs") %>


     <div class="flex ">
        <!--leftside navigation-->
        <div class="border-e-2  ">
            <div class="mx-4 mt-10 mb-60">
                <a href="dashboard"  class=" mb-3 ps-4 text-left w-48 py-2 hover:bg-gray-100 block">
                        <div>Dashboard</div>
                </a>
                <a href="products"  class=" mb-3 ps-4 text-left w-48 py-2 hover:bg-gray-100 block">
                    <div>Products</div>
                </a>
                <a href="customers"  class="hover:bg-gray-100 mb-3 ps-4 text-left w-48 py-2 block">
                    <div>Customers</div>
                </a>
                <a href="orders"  class=" hover:bg-gray-100 mb-3 ps-4 text-left w-48 py-2 block">
                    <div>Orders</div>
                </a>
                <a href="categories"  class=" mb-3 ps-4 text-left w-48 py-2 hover:bg-gray-100  block">
                    <div>Category</div>
                </a>
                <a href="settings"  class=" mb-3 ps-4 text-left w-48 py-2 bg-[#DDE6ED] block">
                    <div class="font-semibold">Settings</div>
                </a>
                
            </div>
        </div>
        <!--rightside content-->
        <div class="mx-7 mt-5 w-screen">

            <div class=" text-2xl font-poppins font-semibold">Admin Settings</div>

            <div class="p-4 border-2 rounded-lg w-fit mt-5">
                <div class="font-medium text-xl pb-4 pt-2">Details</div>
                <div>
                    <table>
                        <tr class="opacity-50">
                            <td>Name</td>
                            <td class="ps-36">Alex Mathai</td>
                        </tr>
                        <tr class="opacity-50">
                            <td>Gender</td>
                            <td class="ps-36">Male</td>
                        </tr>
                        <tr class="opacity-50">
                            <td>Phone</td>
                            <td class="ps-36">9400354724</td>
                        </tr>
                        <tr class="opacity-50">
                            <td>Email</td>
                            <td class="ps-36">alexmathai07@gmail.com</td>
                        </tr>
                    </table>
                </div>
                <div class="flex justify-center">
                    <button onclick="admineditpopup()" class="bg-[#526D82] text-white px-6 py-1 rounded-full font-medium mt-6 mb-2">Edit</button>
                </div>
            </div>
            
            
        
        </div>
    </div>
   
    
    <!--admin edit popup-->   

    <div id="admineditpopup" style="background-color: rgba(0, 0, 0, 0.2);" class="justify-center items-center fixed top-0 left-0 right-0 bottom-0 z-50 px-6 hidden">
        <div class="flex justify-center  mt-28 p-10  w-2/5 border-2 border-[#9DB2BF] rounded-md bg-white">
            <div class="">
                <form action="">
                <div class="flex justify-between mb-14">
                    <div class="font-bold text-xl">Edit Admin Details</div>
                    <button type="button" onclick="canceladmineditpopup()"><img src="/images/close.png" class="h-4" alt="close-button"></button>
                </div>
                <div class="mt-4 flex justify-center">
                    <div class="opacity-70 pe-2">Name:</div>
                    <input class="px-2 border-2 rounded-full outline-none" type="text">
                </div>
            
                
                <div class="mt-4 flex justify-center">
                    <div class="opacity-70 pe-2">Phone:</div>
                    <input class="px-2 border-2 rounded-full outline-none" type="text">
                </div>
                <div class="mt-4 flex justify-center">
                    <div class="opacity-70 pe-2">Email:</div>
                    <input class="px-2 border-2 rounded-full outline-none" type="text">
                </div>
                <div class="flex justify-center py-3">
                    <div class="opacity-70 pe-2">Gender:</div>
                    <select class="px-2 border-2 rounded-full outline-none bg-white" name="" id="">
                        <option value="" disabled selected>choose</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="others">Others</option>
                    </select>
                </div>
                <div class="flex justify-center">
                    <button class="bg-[#27374D] px-4 py-2 rounded-full mt-4 text-white font-medium">Update</button>
                </div>
            </form>
            </div> 
        </div>
    </div>

    
</body>
</html>
<script src="/javascripts/settings.js"></script>