<footer class="py-2 px-3 bg-[#DDE6ED]">
    <div class=" flex justify-around">
        <div>
            <p class="text-sm font-medium my-3">Head Office</p>
            <p class="text-xs font-light opacity-50">123 Main Street,<br> Suite 456
                Cityville,<br> Stateburg 78901 <br>
                United States</p>
        </div>
        <div>
            
                <p class="text-sm font-medium my-3">Useful Links</p>
                <a class="text-xs font-light opacity-50" href="">Privacy and policy</a><br>
                <a class="text-xs font-light opacity-50" href="">Terms & Conditions</a><br>
                <a class="text-xs font-light opacity-50" href="">FAQ's</a><br>
                <a class="text-xs font-light opacity-50" href="">Contact Us</a>
            
            <div>
                <p class="text-sm font-medium my-3">Connect with us</p>
                <div class="flex">
                    <div><img src="/images/instagram.png" class="h-8 mx-1" alt=""></div>
                    <div><img src="/images/facebook.png" class="h-8 mx-1" alt=""></div>
                    <div><img src="/images/twitter.png" class="h-8 mx-1" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center my-4">
        <p class="text-xs opacity-50">© Torq</p>
    </div>

</footer>