<header>
    <div class="bg-[#27374D] ps-4 py-4 flex justify-between text-white items-center font-medium">
        <div id="test" class="flex">
            <button onclick="menuslidein()" class="mx-1 lg:hidden"><img src="/images/menu.png" class=" h-6" alt=""></button>
            <a href="/user/landing">
                <img src="/images/Logo.png" class="h-8 lg:h-10" alt="">
            </a>
        </div>
        <div id="expandedsearchbox" class="w-full hidden me-5">
            <div class="flex bg-white w-full py-2 px-3 space-x-4">
                <button onclick="hidesearchbox()">
                    <img src="/images/left-arrow.png" class="h-4 w-4" alt="">
                </button>
                <form action="/user/search" method="post" class="flex w-full">
                    <input type="text" placeholder="What are you looking for today?" class="w-full text-black text-sm font-normal outline-none" name="searchId" id="">
                    <button><img src="/images/search.png" class="h-5 w-5" alt=""></button>                   
                </form>                
            </div>
        </div>

        
        <div class="flex items-center">
            <div id="defaultsubheader" class="flex">
                <button onclick="showsearchbox()"><img src="/images/search-white.png" class="h-5 md:hidden mx-5" alt="" /></button>
                <form action="" method="post" > <!--search-->
                    <div class="hidden me-5 md:flex items-center h-full rounded-md bg-orange-400 text-[#666666] outline outline-[.1px] outline-gray-400">
                        <input value="" type="text" class="outline-none rounded-md pl-3 h-full text-sm w-80 placeholder:text-sm" name="categorySearch" id="" placeholder="Which tool are you looking today? ">
                        <button type="submit" class=" px-1 py-1  h-full cursor-pointer" >
                            <img src="/images/search-white.png" class="h-6" alt="">
                        </button>
                    </div>
                </form>
            </div>
           
            <% if(username === " "){%>
                <p id="testright" class="border-white border-[1px] px-3 py-1 text-white text-sm font-semibold rounded-[3px] me-5 hover:bg-white hover:text-[#27374D]">User</p>
            <% }else if(username){ %>
                <p id="testright" class="border-white border-[1px] px-3 py-1 text-white text-sm font-semibold rounded-[3px] me-5 hover:bg-white hover:text-[#27374D] capitalize"><%= username %></p>
            <% }else{ %>
                <a id="testright" href="/User/login" class="md:bg-white px-3 md:px-7 border-white border-2 py-[4px] text-white md:text-[#27374D] font-bold text-[10px] md:text-sm rounded-[3px] me-4 hover:-translate-y-[2px] hover:bg-gray-200">Log In</a>
            <% } %>
            <a href="/user/myaccount" class="text-white opacity-80 font-semibold hover:opacity-100 hover:-translate-y-[2px] text-sm hidden lg:flex mx-3">Account</a>
            <a href="/user/myorders" class="text-white opacity-80 font-semibold hover:opacity-100 hover:-translate-y-[2px] text-sm hidden lg:flex mx-3">Orders</a>
            <a href="/User/cart" class="text-white opacity-80 font-semibold hover:opacity-100 hover:-translate-y-[2px] text-sm hidden lg:flex mx-3">Cart</a>
            
        </div>
    </div>
</header>


    <!-- side bar -->
    <div id="sidebarcontainer" class="h-full w-full absolute inset-0 bg-[rgba(0,0,0,0.6)] invisible transition-all z-10 duration-75">
        <div id="sidebar" class="w-[250px] -translate-x-[250px] transition-all duration-300   flex flex-col h-screen bg-slate-50 absolute top-0 left-0">
            <!-- side bar header -->
            <header class="bg-[#27374D] py-5 px-4">
                <div class="flex justify-start">
                    <img onclick="closesidebar()" src="/images/close-white.png" class="h-4 w-4" alt="">
                </div>
            </header>
            <!-- sidebar container -->
            <div class="px-2 py-2 ">
                <a href="myaccount" class="block text-sm w-full py-2 border-b-4 rounded-lg my-1 bg-white">My Account</a >
                <a href="myorders" class="block text-sm w-full py-2 border-b-4 rounded-lg my-1 bg-white">My orders</a >
                <a href="cart" class="block text-sm w-full py-2 border-b-4 rounded-lg my-1 bg-white">My Cart</a >
                <a href="aboutus" class="block text-sm w-full py-2 border-b-4 rounded-lg my-1 bg-white">About Us</a >
                <a href="" class="block text-sm w-full py-2 border-b-4 rounded-lg my-1 bg-white">Contact Us</a >
            </div>
            <div class="flex flex-grow"></div>
            <!-- logout button -->
            <div class="flex justify-center px-4 my-3">
                <% if(username){ %>
                <form action="/User/logout" method="post" class="w-full">
                    <button class="w-full py-3 bg-red-700 text-white font-semibold text-sm rounded-lg">Logout</button>
                </form>
                <% } %>
            </div>
        </div>
    </div>

<script src="/javascripts/User/header.js"></script>