<header>
    <div class="bg-[#27374D] px-4 py-3 flex justify-between text-white items-center font-medium sm:px-12">
        <div class="font-semibold md:text-lg"><%= title %></div>
        <div class="flex w-4/12 space-x-5">
            <button><img src="/images/search-white.png" class="h-5 md:hidden mx-5" alt="" /></button>
            <input class="py-3 hidden md:block my-1 w-full bg-white text-black text-sm px-6 rounded-full" placeholder="Search for your products here" type="text">
            <button><img src="/images/cart.png" class="h-8 w-8" alt="image"></button>
        </div>
    </div>
</header>