<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include("partials/head.ejs") %>

<body>
    <header>
       <div class="bg-[#27374D] flex justify-center">
            <div class="text-white py-5 text-2xl font-semibold">Logo</div>
       </div>
    </header>
    <div>
        <div class="flex justify-center">
            <div class="py-20 text-3xl font-medium opacity-60">Admin</div>
           
        </div>
        <div class="flex  justify-center">
            <div>
                <form action="">
                    <div class="border-b-2 border-[#9DB2BF] rounded-sm bg-[#DDE6ED] h-10 w-72 pb-10 ">
                        <input type="text" placeholder="Email Address" class="bg-[#DDE6ED] h-10 outline-none text-gray-500 px-3 placeholder:text-xs ">
                        <button>
                            <span class="material-symbols-outlined text-sm opacity-60">
                                visibility_off
                            </span>
                        </button>
                    </div>
                    
                    
                    <div class="border-b-2 border-[#9DB2BF] rounded-sm bg-[#DDE6ED] h-10 w-72 pb-10 mt-4">
                        <input type="password" placeholder="Password" class="bg-[#DDE6ED] h-10 outline-none text-gray-500 px-3 placeholder:text-xs ">
                        <button>
                            <span class="material-symbols-outlined text-sm opacity-60">
                                visibility_off
                            </span>
                        </button>
                    </div>

                    <button type="submit" class="bg-[#27374D] text-white px-5 py-2 rounded-lg block text-center w-72 my-8">Sign In</button>
                    </form>
            </div>
        </div>
    </div>
    <footer class="bg-[#DDE6ED] mt-36">
        <div class="flex justify-around pt-10  mb-10">
            <div><a href="">About us</a></div>
            <div><a href="">Contact us</a></div>
            <div><a href="">Terms and conditions</a></div>
            <div><a href="">Privacy Policy</a></div>
        </div>
        <div class="flex justify-center pb-2">© XYZ Studios 2023. All Rights Reserved.</div>
    </footer>
    
    
</body>
</html>