<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aboutus</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#DDE6ED]">
    <section class="bg-[url('/images/aboutus-bg.png')] bg-cover w-full h-[35rem] rounded-b-3xl m-0">
        <div class="flex flex-col items-center my-5 px-4 space-y-2">
            <p class="text-2xl font-semibold font-poppins text-white">About us</p>
            <p class="text-xs text-white">Welcome to Torq, your trusted partner in machinery and tool rentals! At Torq, we take pride in providing high-quality equipment to individuals and businesses, empowering them to complete projects efficiently and effectively.</p>
        </div>
        <!-- <div class="flex justify-around">
            <div class="space-y-3">
                <p class="text-2xl font-semibold font-poppins text-white">Our Mission</p>
                <p class="text-xs">Our mission is to simplify and revolutionize the way you access and utilize machinery and tools. We understand the challenges that come with finding the right equipment for your projects, and we aim to be the go-to solution for all your rental needs.</p>
            </div>
            <div>images</div>
        </div> -->
    </section>
</body>
</html>