<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All products</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!--header section-->
    <%- include("partials/sub-header.ejs") %>

    <!--main section-->
    <div class="mx-3 my-2">
        <!--sorting and filtering-->
        

    </div>
</body>
</html>