<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Login</title>
</head>
<body class="flex flex-col h-screen bg-slate-200">
    <div class="flex flex-grow"></div>
    <div class="flex justify-center ">
        <!-- container box -->
        <div class="md:h-[40rem] h-screen md:w-3/5 w-screen border-2 rounded-xl flex shadow-lg">
            <!-- left box -->
            <div class="w-1/2  bg-[url('/images/bg-cover.png')] rounded-l-lg bg-cover hidden md:flex flex-col items-center text-center h-full">
                <p class="text-white font-semibold text-2xl mt-14  px-8">Why invest in tools you use once? <br> <span class="text-sm font-normal">Rent the best for your project, and let us <br> take care of the rest.</span></p>
            </div>
            <!-- right box -->
            <div class="py-10 px-[2rem] md:w-1/2 w-full bg-white rounded-r-lg">
                <form action="" id="login-form" method="post" class="flex flex-col h-full">
                        <div>
                            <p class="my-1 font-semibold text-xl">Login to proceed</p>
                            <p class="text-gray-500 text-base">Enter your phone number to continue,</p>
                            <div class="my-4">
                                <input type="number" name="phoneno"  class="py-2 px-4 outline-none border-2 rounded-lg w-full text-sm" placeholder="Phone number" id="phoneno">
                                <span id="phone-error" class="text-xs text-red-500">Error message here</span>
                            </div>
                            <p class="text-xs text-gray-500">By continuing,you agree to website's <a class="text-blue-600" href="">terms and conditions</a></p>
                        </div>
                        <div id="recaptcha-container">

                        </div>
                        <div class="flex flex-grow"></div>
                        <div>
                            <button  id="sign-in-button" class="w-full bg-blue-500 rounded-full text-white text-sm py-2 font-medium">Continue</button>
                        </div>
                </form>
            </div>

        </div>
    </div>
    <div class="flex-grow"></div>
</body>
</html>
<script type="module" src="/javascripts/User/login.js"></script>