<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="flex flex-col min-h-screen">
    <!-- Header Section -->
    <header class="bg-[#27374D] py-4">
      <div class="flex justify-center">
        <img src="/images/Logo.png" class="h-8" alt="logo-img" />
      </div>
    </header>

    <!-- Body Section -->
    <main class="flex-1 p-4">
      <div class="px-16 mt-32">
        <form action="">
          <div class="flex justify-center w-full">
            <input
              class="bg-[#DDE6ED] px-3 py-2 outline-none my-2"
              placeholder="Email address"
              type="text"
              name=""
              id=""
            />
          </div>
          <div class="flex justify-center">
            <input
              class="bg-[#DDE6ED] px-3 py-2 outline-none my-2"
              placeholder="Password"
              type="password"
              name=""
              id=""
            />
          </div>
          <a class="flex justify-end text-xs">Forgot password?</a>
          <div class="flex justify-center w-4/5 mt-10">
            <button
              class="bg-[#27374D] text-white w-full py-3 rounded-md font-medium"
              type="submit"
            >
              Sign In
            </button>
          </div>
        </form>
        <button class="my-6 border-2 p-2 items-center rounded-full flex">
          <img src="/images/google.png" class="h-6" alt="" />
          <div class="text-sm ms-6">Sign in with google</div>
        </button>
        <a class="flex justify-center text-sm">Create an account</a>
      </div>
    </main>

    <!-- Footer Section -->
    <footer class="bg-[#DDE6ED] flex justify-around text-xs p-4">
      <a>Terms and conditions</a>
      <a>About us</a>
      <a>cookie policy</a>
    </footer>
  </body>
</html>
