<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>My Account</title>
</head>
<body class="flex flex-col h-screen bg-slate-100 ">
    <!-- header -->
    <%- include('partials/header.ejs')  %>

    <!-- container -->
    <div class="px-3 py-2">
        <!-- main card container-->
        <div class="flex justify-center ">
            <!-- main card-->
            <div class=" m-1 py-3 rounded-lg bg-white w-11/12 md:w-3/5 md:h-[19rem] md:border-2">
                <div class=" justify-end mx-6 hidden md:flex">
                    <form action="/User/logout" method="post">
                        <button>
                            <img src="/images/logout (1).png" class="h-10" alt="">
                        </button>
                    </form>

                </div>
                <div class="flex flex-col items-center md:justify-center">
                    <!-- profile picture -->
                    <div>
                        <img src="/images/profile.png" class=" object-cover h-[5rem] w-[5rem] md:h-[10rem] md:w-[10rem] p-1 shadow-lg border-2 rounded-full" alt="">
                    </div>
                    <!-- name -->
                    <% if(username === " "){ %>
                    <p class="text-sm md:text-xl font-semibold my-2 capitalize">User</p>
                    <% }else{ %>
                    <p class="text-sm md:text-xl font-semibold my-2 capitalize"><%= username %></p>
                    <% } %>
                    <!-- edit button -->
                    <button onclick="edituserinfo()" class="border-2 rounded-full px-4 py-1 flex space-x-1 items-center">
                        <img src="/images/edit.png" class="h-3" alt="">
                        <p class="text-xs font-medium text-gray-600">Edit</p>
                    </button>
                </div>
            </div>
        </div>
        <!-- sub cards -->
        <div class="my-3 md:flex md:justify-center">
            <div class="flex md:flex-row flex-col items-center w-full md:w-3/5 space-y-2 md:space-x-3">
                <!-- card 1 -->
                    <a href="/user/myorders" class="flex  md:h-[5rem] justify-between md:justify-center md:space-x-3 items-center w-11/12 md:w-4/12 bg-white px-4 py-2 rounded-md border-2 hover:shadow-[3px_3px_5px_rgba(0,0,0,0.25)] shadow-[3px_3px_5px_rgba(0,0,0,0.10)]">
                        <p class="text-xs md:text-lg font-medium opacity-60 md:inline-block">My orders</p>
                        <img src="/images/right-arrow.png" class="h-3 w-3 opacity-60" alt="">
                    </a>

                <!-- card 2 -->
                    <a href="/user/cart" class="flex  md:h-[5rem] justify-between md:justify-center md:space-x-3 items-center w-11/12 md:w-4/12 bg-white px-4 py-2 rounded-md border-2 hover:shadow-[3px_3px_5px_rgba(0,0,0,0.25)] shadow-[3px_3px_5px_rgba(0,0,0,0.10)]">
                        <p class="text-xs md:text-lg font-medium opacity-60 md:inline-block">My Cart</p>
                        <img src="/images/right-arrow.png" class="h-3 w-3 opacity-60" alt="">
                    </a>

                <!-- card 3 -->
                    <a href="/user/aboutus" class="flex  md:h-[5rem] justify-between md:justify-center md:space-x-3 items-center w-11/12 md:w-4/12 bg-white px-4 py-2 rounded-md border-2 hover:shadow-[3px_3px_5px_rgba(0,0,0,0.25)] shadow-[3px_3px_5px_rgba(0,0,0,0.10)]">
                        <p class="text-xs md:text-lg font-medium opacity-60 md:inline-block">About Us</p>
                        <img src="/images/right-arrow.png" class="h-3 w-3 opacity-60" alt="">
                    </a>

            </div>
        </div>

    </div>

    <div class="flex flex-grow">
    </div>

    <!-- logout button -->
    <div class="flex justify-center md:justify-end mb-5 md:hidden">
        <form action="/User/logout" method="post" class="w-full flex justify-center">
            <button class="bg-red-800 text-white w-11/12 md:w-1/5 md:mx-8 py-2 rounded-md font-bold">Logout</button>
        </form>
    </div>
    <footer class="py-2 px-3 bg-[#DDE6ED] hidden md:block">
        <div class=" flex justify-around">
            <div>
                <p class="text-sm font-medium my-3">Head Office</p>
                <p class="text-xs font-light opacity-50">123 Main Street,<br> Suite 456
                    Cityville,<br> Stateburg 78901 <br>
                    United States</p>
            </div>
            <div>
                
                    <p class="text-sm font-medium my-3">Useful Links</p>
                    <a class="text-xs font-light opacity-50" href="">Privacy and policy</a><br>
                    <a class="text-xs font-light opacity-50" href="">Terms & Conditions</a><br>
                    <a class="text-xs font-light opacity-50" href="">FAQ's</a><br>
                    <a class="text-xs font-light opacity-50" href="">Contact Us</a>
                
                <div>
                    <p class="text-sm font-medium my-3">Connect with us</p>
                    <div class="flex">
                        <div><img src="/images/instagram.png" class="h-8 mx-1" alt=""></div>
                        <div><img src="/images/facebook.png" class="h-8 mx-1" alt=""></div>
                        <div><img src="/images/twitter.png" class="h-8 mx-1" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center my-4">
            <p class="text-xs opacity-50">© Torq</p>
        </div>
    
    </footer>

    <!--update user info popup-->
    <div id="updateuserinfo" style="background-color: rgba(0, 0, 0, 0.2);" class="justify-center items-center fixed top-0 left-0 right-0 bottom-0 z-50 px-6 hidden">
        <div class="flex justify-center bg-white mt-28 p-10  w-[24rem] border-2 border-[#9DB2BF] rounded-md ">
            <div class="">
                <form action="/user/myaccount" method="post">
                <div class="flex justify-between mb-14">
                    <div class="font-bold text-xl">Update user info</div>
                    <button type="button" onclick="cancelupdateuserinfo()"><img src="/images/close.png" class="h-4" alt="close-button"></button>
                </div>
                <div class="mt-4 flex justify-center">
                    <div class="opacity-70 pe-2">Name:</div>
                    <input class="px-2 border-2 text-sm rounded-full outline-none" type="text" value="" name="name" id="username">
                </div>
                <div class="mt-4 flex justify-center">
                    <div class="opacity-70 pe-2">Email:</div>
                    <input class="px-2 border-2 text-sm rounded-full outline-none" type="text" value="" name="email" id="useremail">
                </div>
                <div class="flex justify-center py-3">
                    <div class="opacity-70 pe-2">phone:</div>
                    <input class="px-2 border-2 text-sm rounded-full outline-none" type="text" value="" name="phone" id="userphone">
                </div>
                
                <div class="flex justify-center">
                    <button class="bg-[#27374D] px-4 py-2 rounded-full mt-4 text-white font-medium">Update</button>
                </div>
            </form>
            </div> 
        </div>
    </div>
</body>
</html>
<script src="/javascripts/User/my-account.js"></script>