<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>My orders</title>
</head>
<body class="flex flex-col h-screen">
    <!-- header -->
    <%- include('partials/sub-header.ejs')  %>

    <!-- main section -->
    <!-- container -->
    <div class="px-3 py-2">
        <!-- top bar -->
        <div class="flex justify-between px-4 items-center md:mx-24">
            <div class="font-semibold md:text-2xl md:font-bold">My Orders</div>
            <input type="text" placeholder="Search your order" class="px-3 outline-none rounded-full w-3/5 md:w-2/6 border-2 text-xs h-10 md:my-3" name="" id="">
        </div>
        <p class="text-xs md:text-sm text-gray-400 px-4 my-2  md:mx-24">Total orders : 12</p>
        <!-- Product 1 -->
        <div class="flex justify-center">
            <div class="flex justify-center  md:space-x-5 items-center my-4 border-2 p-3">
                <div class="">
                    <img src="/images/circular saw.png" class="h-20 min-w-[5rem] p-2 md:h-32 md:min-w-[8rem]" alt="">
                </div>
                <div>
                    <div class="md:flex md:items-center md:space-x-10">
                        <div>
                            <div class="hidden md:flex md:justify-between bg-slate-200 py-2 px-5 text-xs min-w-[40rem] rounded-lg opacity-60 my-3">
                                <div class="flex space-x-5">
                                    <p>Order placed on : 12/09/2045</p>
                                    <p>Shipped to : Alex Mathai</p>
                                </div>
                                <div>
                                    <p>Order id : #938364</p>
                                </div>
                            </div>
                            <!-- product name -->
                            <p class="flex whitespace-normal text-xs md:text-sm ">Bosch GBM 13 re professional pistol Frip Drill (13 mm chuck size,360W)</p>
                            <!-- price & offer -->
                            <p class="font-semibold text-sm md:text-base mt-2">5999/- <span class="line-through text-gray-500 font-medium text-xs md:text-sm">7999/-</span> </span></p>
                        </div>
                        
                    </div>
                   <div class="flex justify-between items-center ">
                        <button class="bg-yellow-600 py-1 px-3 flex items-center rounded-md my-2 space-x-2 min-w-[3rem]">
                            <img src="/images/again.png" class="h-3 w-3" alt="">
                            <p class="font-semibold text-xs text-white">Rent again</p>
                        </button>
                        <p class="opacity-50 text-[8px] md:text-[12px] ">Delivered on 12th Dec 2023</p>
                   </div> 
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="flex flex-grow">

    </div>
    <footer>
        <!--footer-->
    <%- include("partials/footer.ejs") %>
    </footer>
    
</body>
</html>