<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My order</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class=" flex flex-col h-screen">
    <!-- header -->
    <%- include('partials/header.ejs') %>

    <!-- main section -->
    <div class="my-2 mx-3 bg-slate-50">
        <div>
            <div class="font-semibold md:text-2xl md:font-bold mb-6 mt-5">Order Summary</div>
        </div>
        <!-- Detailed summary -->
        <div>
            <div class="flex justify-between md:justify-center items-center my-1 md:space-x-[28rem]">
                <p class="text-xs text-gray-500 ">Product rented on 12th december,2023</p>
                <button class="border-2 rounded-lg py-1 px-1 bg-gray-200 text-xs font-medium w-2/6 md:w-32 text-gray-700">Download invoice</button>
            </div>
            <div class="md:flex md:justify-center">
                <div class="border-2 py-2 px-3 rounded-lg">
                    <div class="py-1">
                        <p class="text-xs font-semibold text-gray-500">Order id : #378374933</p>
                    </div>
                    <div class="md:flex md:justify-around  md:space-x-[156px]" >
                        <!-- shipping address -->
                        <div class="py-2">
                            <p class="font-semibold text-sm text-gray-900 mb-2 md:font-bold md:text-lg">Billing Address</p>
                            <div class="px-0 text-xs text-gray-700 space-y-[2px]">
                                <p>Alex Mathai</p>
                                <p>Kunjukattil House,</p>
                                <P>Chelakode PO,</P>
                                <p>Pazhayannur via,</p>
                                <p>Pin : 680587</p>
                            </div>
                        </div>
                        <!-- payment details -->
                        <div class="py-2">
                            <div>
                                <p class="font-semibold text-sm text-gray-900 mb-2 md:font-bold md:text-lg">Payment Mode</p>
                                <div>
                                    <p class="text-xs text-gray-700 space-y-[2px]">UPI</p>
                                </div>
                            </div>
                        </div>
                        <!-- price details -->
                        <div class="py-2 md:w-[13rem]">
                            <p class="font-semibold text-sm text-gray-900 mb-2 md:font-bold md:text-lg">Order Details</p>
                                <div class="flex items-center justify-between text-gray-700 space-y-[2px] text-sm">
                                    <div>
                                        <p class=" opacity-60 text-xs">Price</p>
                                        <p class=" opacity-60 text-xs">Discount</p>
                                        <p class=" opacity-60 text-xs">Delivery Charge</p>
                                        <p class=" font-medium text-xs my-2">Total Amount</p>
                                    </div>
                                    <div>
                                        <p class=" opacity-60 text-xs">2796/-</p>
                                        <p class=" opacity-60 text-xs">-250</p>
                                        <p class=" text-green-600 text-xs">Free</p>
                                        <p class=" font-medium text-xs my-2">2546/-</p>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Product 1 -->
        <div class="flex justify-center">
            <div class="flex justify-center  md:space-x-5 items-center my-4 border-2 p-3">
                <div class="">
                    <img src="/images/circular saw.png" class="h-20 min-w-[5rem] p-2 md:h-32 md:min-w-[8rem]" alt="">
                </div>
                <div>
                    <div class="md:flex md:items-center md:space-x-10">
                        <div>
                            <div class="hidden md:flex md:justify-between bg-slate-200 py-2 px-5 text-xs min-w-[40rem] rounded-lg opacity-60 my-3">
                                <div class="flex space-x-5">
                                    <p>Order placed on : 12/09/2045</p>
                                    <p>Shipped to : Alex Mathai</p>
                                </div>
                                <div>
                                    <p>Order id : #938364</p>
                                </div>
                            </div>
                            <!-- product name -->
                            <p class="flex whitespace-normal text-xs md:text-sm ">Bosch GBM 13 re professional pistol Frip Drill (13 mm chuck size,360W)</p>
                            <!-- price & offer -->
                            <p class="font-semibold text-sm md:text-base mt-2">5999/- <span class="line-through text-gray-500 font-medium text-xs md:text-sm">7999/-</span> </span></p>
                        </div>
                        
                    </div>
                   <div class="flex justify-between items-center ">
                        <button class="bg-yellow-600 py-1 px-3 flex items-center rounded-md my-2 space-x-2 min-w-[3rem]">
                            <img src="/images/again.png" class="h-3 w-3" alt="">
                            <p class="font-semibold text-xs text-white">Rent again</p>
                        </button>
                        <p class="opacity-50 text-[8px] md:text-[12px] ">Delivered on 12th Dec 2023</p>
                   </div> 
                </div>
            </div>
        </div>
            
        </div>
        

    </div>
    <div class="flex flex-grow">

    </div>
    <!-- footer -->
    <%- include('partials/footer.ejs') %>
</body>
</html>