<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Confirmed</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="select-none ">
    <!--container class-->
    <div class="mx-5 my-3">
        <!--section 1-->
        <div class="mt-8 flex justify-around items-start">
            <!--left-->
            <div class="">
                <div>
                    <p class="font-bold text-lg md:text-2xl text-[#27374D]">Booking Confirmed!</p>
                    <p class="font-normal text-sm md:text-lg text-[#526D82]">Happiness on it's way!</p>
                </div>
                <div class="my-5">  
                    <p class="text-xs md:text-base font-light">Delivery date: <span 
                        class="text-green-600 font-semibold capitalize"> date </span></p>
                </div>
                
            </div>
            <!--rignt-->
            <div>
                <img src="/images/Delivery-PNG-Picture.png" class="h-10 md:h-20 md:w-24" alt="">
            </div>
        
        </div>
        

    <!-- main section -->
    <p class="font-medium md:font-semibold my-2 md:text-xl md:mx-10 mx-5">Order Summary</p>
    <div class="md:grid md:grid-cols-2 md:gap-x-40 md:gap-y-10 md:mx-20">
        <div class="whitespace-nowrap flex overflow-x-auto w-full">
            <!-- product -->
            <div
                class="  bg-white shadow-md hover:shadow-xl mt-4 p-1 m-1 flex flex-col items-center lg:h-60 min-w-40 py-8 lg:py-0">
                <div>
                    <img src="/images/circular saw.webp" class="h-24 w-24 lg:w-28 lg:h-28 p-2"
                        alt="" />
                </div>
                <div>
                    <p
                        class="py-1 font-semibold truncate max-w-32 text-sm capitalize">
                        product name</p>
                </div>
                <div>
                    <p class="text-xs opacity-50 capitalize"> brand name </p>
                </div>
                <div
                    class="flex justify-between w-full  items-center lg:py-0">
                    <div class="lg:py-6">
                        <span
                            class="text-sm text-slate-600"><span
                                class="font-semibold ms-2 lg:text-base text-sm text-black">$658</span>/Day</span>
                    </div>
                    <form action="/User/cart/addtocart" method="post">
                        <!-- Hidden input field to store the product ID -->
                        <input type="hidden" name="productId"
                            value="">
                        <button
                            class="p-1 bg-[#526D82] hover:bg-[#27374D] rounded-s-full -me-1 pe-3 ps-3"><img
                                src="/images/cart-white.png" class="h-6" alt=""></button>
                    </form>
                </div>
            </div>
            <div
            class="  bg-white shadow-md hover:shadow-xl mt-4 p-1 m-1 flex flex-col items-center lg:h-60 min-w-40 py-8 lg:py-0">
            <div>
                <img src="/images/circular saw.webp" class="h-24 w-24 lg:w-28 lg:h-28 p-2"
                    alt="" />
            </div>
            <div>
                <p
                    class="py-1 font-semibold truncate max-w-32 text-sm capitalize">
                    product name</p>
            </div>
            <div>
                <p class="text-xs opacity-50 capitalize"> brand name </p>
            </div>
            <div
                class="flex justify-between w-full  items-center lg:py-0">
                <div class="lg:py-6">
                    <span
                        class="text-sm text-slate-600"><span
                            class="font-semibold ms-2 lg:text-base text-sm text-black">$658</span>/Day</span>
                </div>
                <form action="/User/cart/addtocart" method="post">
                    <!-- Hidden input field to store the product ID -->
                    <input type="hidden" name="productId"
                        value="">
                    <button
                        class="p-1 bg-[#526D82] hover:bg-[#27374D] rounded-s-full -me-1 pe-3 ps-3"><img
                            src="/images/cart-white.png" class="h-6" alt=""></button>
                </form>
            </div>
        </div>
        <div
        class="  bg-white shadow-md hover:shadow-xl mt-4 p-1 m-1 flex flex-col items-center lg:h-60 min-w-40 py-8 lg:py-0">
        <div>
            <img src="/images/circular saw.webp" class="h-24 w-24 lg:w-28 lg:h-28 p-2"
                alt="" />
        </div>
        <div>
            <p
                class="py-1 font-semibold truncate max-w-32 text-sm capitalize">
                product name</p>
        </div>
        <div>
            <p class="text-xs opacity-50 capitalize"> brand name </p>
        </div>
        <div
            class="flex justify-between w-full  items-center lg:py-0">
            <div class="lg:py-6">
                <span
                    class="text-sm text-slate-600"><span
                        class="font-semibold ms-2 lg:text-base text-sm text-black">$658</span>/Day</span>
            </div>
            <form action="/User/cart/addtocart" method="post">
                <!-- Hidden input field to store the product ID -->
                <input type="hidden" name="productId"
                    value="">
                <button
                    class="p-1 bg-[#526D82] hover:bg-[#27374D] rounded-s-full -me-1 pe-3 ps-3"><img
                        src="/images/cart-white.png" class="h-6" alt=""></button>
            </form>
        </div>
    </div>
    <div
    class="  bg-white shadow-md hover:shadow-xl mt-4 p-1 m-1 flex flex-col items-center lg:h-60 min-w-40 py-8 lg:py-0">
    <div>
        <img src="/images/circular saw.webp" class="h-24 w-24 lg:w-28 lg:h-28 p-2"
            alt="" />
    </div>
    <div>
        <p
            class="py-1 font-semibold truncate max-w-32 text-sm capitalize">
            product name</p>
    </div>
    <div>
        <p class="text-xs opacity-50 capitalize"> brand name </p>
    </div>
    <div
        class="flex justify-between w-full  items-center lg:py-0">
        <div class="lg:py-6">
            <span
                class="text-sm text-slate-600"><span
                    class="font-semibold ms-2 lg:text-base text-sm text-black">$658</span>/Day</span>
        </div>
        <form action="/User/cart/addtocart" method="post">
            <!-- Hidden input field to store the product ID -->
            <input type="hidden" name="productId"
                value="">
            <button
                class="p-1 bg-[#526D82] hover:bg-[#27374D] rounded-s-full -me-1 pe-3 ps-3"><img
                    src="/images/cart-white.png" class="h-6" alt=""></button>
        </form>
    </div>
</div>
<div
class="  bg-white shadow-md hover:shadow-xl mt-4 p-1 m-1 flex flex-col items-center lg:h-60 min-w-40 py-8 lg:py-0">
<div>
    <img src="/images/circular saw.webp" class="h-24 w-24 lg:w-28 lg:h-28 p-2"
        alt="" />
</div>
<div>
    <p
        class="py-1 font-semibold truncate max-w-32 text-sm capitalize">
        product name</p>
</div>
<div>
    <p class="text-xs opacity-50 capitalize"> brand name </p>
</div>
<div
    class="flex justify-between w-full  items-center lg:py-0">
    <div class="lg:py-6">
        <span
            class="text-sm text-slate-600"><span
                class="font-semibold ms-2 lg:text-base text-sm text-black">$658</span>/Day</span>
    </div>
    <form action="/User/cart/addtocart" method="post">
        <!-- Hidden input field to store the product ID -->
        <input type="hidden" name="productId"
            value="">
        <button
            class="p-1 bg-[#526D82] hover:bg-[#27374D] rounded-s-full -me-1 pe-3 ps-3"><img
                src="/images/cart-white.png" class="h-6" alt=""></button>
    </form>
</div>
</div>
<div
class="  bg-white shadow-md hover:shadow-xl mt-4 p-1 m-1 flex flex-col items-center lg:h-60 min-w-40 py-8 lg:py-0">
<div>
    <img src="/images/circular saw.webp" class="h-24 w-24 lg:w-28 lg:h-28 p-2"
        alt="" />
</div>
<div>
    <p
        class="py-1 font-semibold truncate max-w-32 text-sm capitalize">
        product name</p>
</div>
<div>
    <p class="text-xs opacity-50 capitalize"> brand name </p>
</div>
<div
    class="flex justify-between w-full  items-center lg:py-0">
    <div class="lg:py-6">
        <span
            class="text-sm text-slate-600"><span
                class="font-semibold ms-2 lg:text-base text-sm text-black">$658</span>/Day</span>
    </div>
    <form action="/User/cart/addtocart" method="post">
        <!-- Hidden input field to store the product ID -->
        <input type="hidden" name="productId"
            value="">
        <button
            class="p-1 bg-[#526D82] hover:bg-[#27374D] rounded-s-full -me-1 pe-3 ps-3"><img
                src="/images/cart-white.png" class="h-6" alt=""></button>
    </form>
</div>
</div>
<div
class="  bg-white shadow-md hover:shadow-xl mt-4 p-1 m-1 flex flex-col items-center lg:h-60 min-w-40 py-8 lg:py-0">
<div>
    <img src="/images/circular saw.webp" class="h-24 w-24 lg:w-28 lg:h-28 p-2"
        alt="" />
</div>
<div>
    <p
        class="py-1 font-semibold truncate max-w-32 text-sm capitalize">
        product name</p>
</div>
<div>
    <p class="text-xs opacity-50 capitalize"> brand name </p>
</div>
<div
    class="flex justify-between w-full  items-center lg:py-0">
    <div class="lg:py-6">
        <span
            class="text-sm text-slate-600"><span
                class="font-semibold ms-2 lg:text-base text-sm text-black">$658</span>/Day</span>
    </div>
    <form action="/User/cart/addtocart" method="post">
        <!-- Hidden input field to store the product ID -->
        <input type="hidden" name="productId"
            value="">
        <button
            class="p-1 bg-[#526D82] hover:bg-[#27374D] rounded-s-full -me-1 pe-3 ps-3"><img
                src="/images/cart-white.png" class="h-6" alt=""></button>
    </form>
</div>
</div>
 
        </div>
            
        <div>
            
                    
                    <!-- shipping -->
                    <div class="flex justify-between rounded shadow-md  space-x-8 border-2 p-3 bg-white my-4 md:my-0">
                        <div>
                            <p class="text-sm opacity-75 py-2">Order Shipping to</p>
                            <p class="text-sm opacity-75">Shipping Address</p>
                        </div>
                        <div>
                            <p class="text-sm font-medium py-2">Alex Mathai</p>
                            <p class="text-sm font-medium">Kunjukattil House,</p>
                            <p class="text-sm font-medium">Chelakode PO,</p>
                            <p class="text-sm font-medium">Pazhayannur via,</p>
                            <p class="text-sm font-medium">Chelakkara,</p>  
                            <p class="text-sm font-medium">PIN:680587</p>
                        </div>
                    </div>
               
        </div>
        <div>
            <!--order details-->
            <div class="border-2 p-2 my-2 bg-white rounded shadow-md">
                <p class="font-semibold pb-2 md:mx-10">Price Details</p>
                <div class="flex justify-between md:mx-10">
                    <div>
                        <p class="text-sm opacity-50 my-1">Price</p>
                        <p class="text-sm opacity-50 my-1">Discount</p>
                        <p class="text-sm opacity-50 my-1">Shipping</p>
                        <p class="font-medium text-sm my-1">Total Amount</p>
                    </div>
                    <div>
                        <p class="text-sm  my-1">2796/-</p>
                        <p class="text-sm text-green-600 my-1">-250</p>
                        <p class="text-sm text-green-600 my-1">Free</p>
                        <p class="font-medium text-sm my-1">2546/-</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!--order status-->
            <div class="border-2 p-2 md:py-5 my-2 bg-white rounded shadow-md">
                <p class="font-semibold pb-2 md:mx-10">Order Status</p>
                <div class="flex justify-between md:mx-10">
                    <div>
                        <p class="text-sm opacity-50 my-1">Delivery Status</p>
                        <p class="text-sm opacity-50 my-1">Estimated delivery</p>
                        <p class="text-sm opacity-50 my-1">Return Date</p>
                        
                    </div>
                    <div>
                        <p class="text-sm  my-1">Shipped</p>
                        <p class="text-sm text-green-600 my-1">date</p>
                        <p class="text-sm text-red-600 my-1">date</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- section 4 -->
        <div class="flex justify-center my-4">
            <button class="bg-[#27374D] text-white w-4/5 py-2 rounded font-medium md:w-44">Back to Home</button>
        </div>

    </div>





    <!--footer-->
    <%- include("partials/footer.ejs") %>
    
</body>
<script>

</script>
</html>