<div  id="add-product-popup" style="background-color: rgba(0, 0, 0, 0.2);" class="justify-center items-center fixed top-0 left-0 right-0 bottom-0 z-50 hidden">
    <div class="flex justify-center bg-white  border-2 border-[#9DB2BF] py-10 w-fit px-10  rounded-md ">
        <div class="">
            <form action="/admin/products" id="product-form" enctype="multipart/form-data" method="post">
            <div class="flex justify-between mb-8">
                <div class="font-bold text-xl">Add Product</div>
                <button type="button" onclick="CancelproductPopup()"><img src="/images/close.png" class="h-4" alt="close-button"></button>
            </div>
            <div class="flex justify-center">
                <div class="flex items-center space-x-3">
                    <!--productname-->
                    <div class="flex items-start">
                        <label for="productname" class="text-sm text-gray-500 font-medium mt-1 me-2">Product Name :</label>
                        <div>
                            <input type="text" required name="productname" id="productname" class="rounded-lg border-2 px-3 h-8 ">
                            <span id="productname-error" class=" text-xs mt-2 text-red-500 hidden">Error message here</span>
                        </div>
                    </div>
                    <!--brandname-->
                    <div class="flex items-start">
                        <label for="brandname" class="text-sm text-gray-500 font-medium mt-1 me-2">Brand Name :</label>
                        <div>
                            <input type="text" name="brandname" required id="brandname" class="rounded-lg border-2 px-3 h-8 ms-3">
                            <span id="brand-error" class=" text-xs mt-2 text-red-500 hidden">Error message here</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-between space-x-5 mt-4">
                <div>
                    <!--category-->
                    <select name="category" id="category" required class="rounded-lg border-2 px-3 h-8 ms-9 text-sm w-60">
                        <option value="" disabled selected>Category</option>
                        <% categories.forEach((category) => { %>
                        <option value="<%= category.categoryname %>" class="capitalize"><%= category.categoryname %></option>
                        <% }) %>
                    </select>
                    <span id="category-error" class=" text-xs mt-2 text-red-500 hidden">Error message here</span>
                </div>
                <div>
                    <!--regular price-->
                    <input type="number" required placeholder="Regular Price" name="regularprice" id="regularprice" class="rounded-lg border-2 px-3 h-8 w-60 text-sm">
                    <span id="regularprice-error" class=" text-xs mt-2 text-red-500 hidden">Error message here</span>
                </div>
                <div>
                    <!--discount percentage-->
                    <input type="number" required placeholder="Discount Percentage" name="discountpercentage" id="discountpercentage" class="rounded-lg border-2 px-3 h-8 w-60 text-sm">
                    <span id="discount-error" class="text-xs mt-2 text-red-500 hidden">Error message here</span>
                </div>
            </div>
            <div class="flex justify-between space-x-5 mt-4">
                <select name="bestseller" required class="rounded-lg border-2 px-3 h-8 ms-9 text-sm w-60" id="bestseller">
                    <option value="" disabled selected>bestseller</option>
                    <option value="true">yes</option>
                    <option value="false">no</option>
                </select>
                <select name="stockstatus" class="rounded-lg border-2 px-3 h-8 ms-9 text-sm w-60" id="stockstatus">
                    <option value="Available">Available</option>
                    <option value="Out of stock">Out of stock</option>
                </select>
                <select name="productcondition" class="rounded-lg border-2 px-3 h-8 ms-9 text-sm w-60" id="productcondition">
                    <option value="Like new">Like new</option>
                    <option value="Good">Good</option>
                    <option value="Okay">Okay</option>
                </select>
            </div>
            <!--product specification-->
            <p class="my-3 font-semibold ">Product Specifications</p>
            <div class="flex justify-evenly">
                           
                <div class="flex justify-around">
                    <div class="flex space-x-5">
                        <!-- <input type="text" name="specification" placeholder="product specification seperated by comma" class="rounded-lg border-2 px-3 h-8 text-sm" id="specification"> -->
                        <textarea name="specification" id="specification" cols="60" class="rounded-lg border-2 p-3 text-sm outline-none" rows="10"></textarea>
                    </div>
                </div>
                

                <!--image upload-->
                <div class="flex justify-center">
                    <div class="space-x-3 mt-4 flex">
                        <div>
                            <img id="imagePreview" class="hidden w-64 h-40 border-2 p-1 border-black mb-2" alt="Image Preview">
                            <label for="fileInput" id="image-upload" class=" cursor-pointer max--w-[15rem] px-8 py-2 text-sm bg-gray-500 text-white rounded-md hover:bg-gray-700">
                                Upload Image
                            </label>
                            <span id="upload-error" class="hidden text-xs text-red-500 mt-2 block ms-7">upload error message</span>
                        </div>
                        <input
                        id="fileInput"
                        type="file"
                        name="productimage"
                        class="hidden"
                        accept="image/*"
                        onchange="previewImage(this)"
                        >
                        
                    </div>
                </div>
            </div>
            
            <div class="flex justify-end">
                <button id="product-submit" class="bg-yellow-600 w-36 py-1 rounded-lg mt-4 text-white font-medium">Save changes</button>
            </div>
        </form>
        </div> 
    </div>
</div>