<div  id="editpopup" style="background-color: rgba(0, 0, 0, 0.2);" class="justify-center items-center fixed top-0 left-0 right-0 bottom-0 z-50 hidden">
    <div class="flex justify-center bg-white mt-28  border-2 border-[#9DB2BF] py-10 w-4/12  rounded-md ">
        <div class="">
            <form action="/admin/categories/edit/update" id="editcategory-form" enctype="multipart/form-data" method="post">
            <div class="flex justify-between mb-8">
                <div class="font-bold text-xl">Edit Category</div>
                <button type="button" onclick="canceleditpopup()"><img src="/images/close.png" class="h-4" alt="close-button"></button>
            </div>
            <div class="flex items-start">
                <input name="Id" id="Id" hidden type="text">
                <label for="editcategory-name" class="text-sm text-gray-500 font-medium mt-1 me-2">Category Name :</label>
                <div>
                    <input type="text" disabled name="editcategory_name" id="editcategory-name" class="rounded-lg border-2 px-3 h-8 ">
                    <span id="editcategory-error" class=" text-xs mt-2 text-red-500 hidden">Error message here</span>
                    <span id="category-name"></span>
                </div>
            </div>

            <div class="space-x-16 mt-4">
                <label for="status" class="text-sm text-gray-500 font-medium">Status :</label>
                <select class="rounded-lg border-2 px-3 h-8 text-gray-500"  name="editcategory_status"  id="editcategory_status">
                    <option value="Listed">List</option>
                    <option value="Unlisted">Unlisted</option>
                </select>
            </div>
            <div class="space-x-3 mt-4 flex">
                <label for="editfileInput" class="text-sm text-gray-500 font-medium">Image Upload : </label>
                <div>
                    <img id="image-Preview"  class=" w-64 h-40 border-2 p-1 border-black mb-2" alt="Image Preview">
                    <span id="testspan"></span>
                    <label for="editfileInput" id="image-edit-upload" class="cursor-pointer max--w-[15rem] px-8 py-2 text-sm bg-gray-500 text-white rounded-md hover:bg-gray-700">
                        Upload
                    </label>
                    <span id="editupload-error" class="hidden text-xs text-red-500 mt-2 block">upload error message</span>
                </div>
                <input
                id="editfileInput"
                type="file"
                name="editcategoryimage"
                class="hidden"
                accept="image/*"
                onchange="editpreviewimage(this)"
                >
                
            </div>
            
            <div class="flex justify-end">
                <button id="editcategory-submit"  class="bg-yellow-600 w-36 py-1 rounded-lg mt-4 text-white font-medium">Save changes</button>
            </div>
        </form>
        </div> 
    </div>
</div>