<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <footer class="bg-[#DDE6ED] mt-3">
        <div class="flex justify-around pt-5  mb-5">
            <div><a href="">About us</a></div>
            <div><a href="">Contact us</a></div>
            <div><a href="">Terms and conditions</a></div>
            <div><a href="">Privacy Policy</a></div>
        </div>
        <div class="flex justify-center pb-2">© XYZ Studios 2023. All Rights Reserved.</div>
    </footer>
</body>
</html>