<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="px-5 bg-[#27374D]">
        <div class="flex justify-between py-3 items-center ">
             <div><img src="/images/Logo.png"  class="h-10" alt=""></div>
             <div><a href="/" ><img src="/images/logout.png" alt="logout image" class="h-5 "></a></div>
        </div>
     </header>
</body>
</html>